@media only screen and (max-width : 1200px) {
}
@media only screen and (max-width : 992px) {
}
@media only screen and (max-width : 768px) {
	body {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100vw;
	}
	.hidench {
		display: inline;
		position: relative;
		left: 150px;
		top: 2px;		
		vertical-align: middle;
		background-color: black;
		border: none;
		text-align:center;
		width: 24px;
		height: 24px;		
		background-image: url(../img/acc.png);
		background-repeat: no-repeat;
		
	}
	.hiden1 {
		display: inline;
		position: relative;
		left: 355px;
		top: -3em;	
		vertical-align: middle;
		background-color: #85939f;
		border: none;
		text-align:center;
		width: 24px;
		height: 24px;		
		background-image: url(../img/menu.png);
		background-repeat: no-repeat;
	}	
	ul.none, 
	ul.none1 {
		display: none;
	}
	ul.adaptlog {
		display: block;
		position: absolute;
		font-size: 25px;
		line-height: 50px;
		padding: 25px;		
	}
	ul.adaptlog li a {
		text-decoration: none;
		color: #85939f;
	}
	ul.adaptlog li a:hover {
		color: white;
	}
	div.regadap {
		position: absolute;
		display: block;
		right: 15px;
		top: 0px;
		width: 217px;
		height: 150px;		
		padding: 0;
		margin: 0;			
		left: 200px;
		line-height: 150px;
		transition: left 2s, display;
	}

	.hidench:focus + .regadap {	
		border: none;
		display: inline-block;		
		background-color: rgba(0, 0, 0, 0.5);	
		z-index: 9999;
		left: -10px;			
	}
	.hidench:focus + .hiden1 {
		display: none; 		
	}
	.hidench:focus {
		border: none;
	}
	
}
@media only screen and (max-width : 728px) {
}
@media only screen and (max-width : 480px) {
	
	
@media only screen and (max-width : 320px) {
}