@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Oxygen');


div.bgc {
	background-color: #02baab;
	height: 140px;	
}
h3.themetext {
	margin: 0;
	padding: 0;
	display: inline-block;
	color: white;
	margin-right: 65px;
	font-family: 'Oxygen', regular;
}
button.purchase-theme {
	margin-top: 50px;
	border: 3px solid white;
	width: 165px;
	height: 35px;
	font-size: 13px;
	background-color:  #02baab;
	color: white;
}